$monday: #702b00;
$tuesday: #1e3c00;
$wednesday: #B58308;
$thursday: #4e2113;
$friday: #23242e;
$weekend: #34495e;
$week-height: 20vh;
$chore-list-width: 20vw;
$chore-list-height: 80vh;
$person-width: 80vw;
$person-height: $chore-list-height;
$max-task-count: 10;
