@import "_variables";
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

body.calendars.index {
  overflow: hidden;
}

body.devise {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .alert, .notice {
    padding: 10px 15px;
    border-radius: 2px;
  }
}

main {
  flex: 1 0 auto;
}

.calendar {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.calendar-inner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.week {
  color: rgba(255, 255, 255, .3);
  position: relative;
  height: $week-height;
  width: 100%;
}

.active-text {
  color: rgba(255, 255, 255, .8);
}

.present-day {
  position: relative;
  left: $chore-list-width;
  height: $person-height;
  width: $person-width;
  font-size: 12vw;
  line-height: 12vw;
}

.weekday {
  width: 20%;
  height: 100%;
  top: 0%;
  float: left;
  position: relative;
  font-size: 3vw;
  line-height: 3vw;
  cursor: pointer;

  &.active + &.inactive {
    border-bottom-left-radius: 4px;
  }

  &.before-active {
    border-bottom-right-radius: 4px;
  }
}

.weekend {
  position: relative;
  left: 0%;
  height: 80%;
  width: 100%;
  font-size: 12vw;
  line-height: 12vw;
}

.full-width-vertical-center {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  text-align: center;
  transform: translate(0%, -50%);
}

.management {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: $weekend;
  z-index: 999;
  padding: 10vh 5vw;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  &.shown {
    left: 0;
  }

  .close-management-link {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .exemption-days-wrapper {
    .exemption-day-name {
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
    }

    .exemptions-list {
      margin-top: 5px;
    }

    .recurring {
      font-style: italic;
      color: #999;
      font-size: 12px;
      padding-left: 0.5em;
    }
  }
}

.monday-color {
  background-color: $monday;
}

.tuesday-color {
  background-color: $tuesday;
}

.wednesday-color {
  background-color: $wednesday;
}

.thursday-color {
  background-color: $thursday;
}

.friday-color {
  background-color: $friday;
}

.weekend-color {
  background-color: $weekend;
}

.chore-list {
  position: absolute;
  left: 0;
  top: $week-height;
  height: $chore-list-height;
  width: $chore-list-width;
  z-index: 100;
  margin: 0;

  li {
    display: table;
    width: 100%;

    &.special-task {
      color: lighten(yellow, 30%);
    }

    i {
      padding: 0 0 0 15px;
      position: relative;
      display: table-cell;
      vertical-align: middle;
    }

    .task-body {
      padding: 0 10px 0 15px;
      position: relative;
      display: table-cell;
      vertical-align: middle;
    }
  }

  @for $count from 0 through $max-task-count {
    &.tasks-#{$count} {
      li {
        font-size: ($chore-list-height / $count) * 0.25;
        line-height: ($chore-list-height / $count) * 0.3;
        height: $chore-list-height / $count;
        overflow: hidden;

        &:nth-child(even) {
          background-color: rgba(255, 255, 255, 0.1);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

.menu-container {
  .menu-link {
    position: absolute;
    right: 5px;
    top: 3px;
  }

  .options-menu {
    background-color: darken($wednesday, 10%);
    position: absolute;
    left: 100%;
    top: 0;

    &.shown {
      left: 80vw;
      width: $menu-width;
      top: 29px;
    }

    ul {
      margin: 0;

      li {
        a {
          font-size: 1rem;
          color: #fff;
          display: block;
          padding: 0 15px;
          line-height: 3rem;

          &:hover, &:focus {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
