@import "_variables";

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, .8);
  overflow-x: hidden;
}

.calendar {
  position: relative;
  width: 100vw;
  height: 200vh;
}

.calendar-inner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.week {
  position: relative;
  height: 20%;
  width: 100%;
}

.present-day {
  position: relative;
  left: 20%;
  height: 80%;
  width: 80%;
  font-size: 12vw;
}

.weekday {
  width: 20%;
  height: 100%;
  top: 0%;
  float: left;
  position: relative;
  font-size: 3vw;
  cursor: pointer;
}

.weekend {
  position: relative;
  left: 0%;
  height: 80%;
  width: 100%;
  font-size: 12vw;
}

.full-width-vertical-center {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  text-align: center;
  transform: translate(0%, -50%);
}

.managing {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.monday-color {
  background-color: $monday;
}

.tuesday-color {
  background-color: $tuesday;
}

.wednesday-color {
  background-color: $wednesday;
}

.thursday-color {
  background-color: $thursday;
}

.friday-color {
  background-color: $friday;
}

.weekend-color {
  background-color: $weekend;
}

.chore-list {
  position: absolute;
  left: 0;
  top: 20%;
  width: 20%;
  height: 78vh;
  z-index: 100;
  margin: 0px;
  margin-top: 2vh;
}

.special-task {
  color: red;
  font-size: 30px;
}
