@import "_variables";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, .8);
}

body.home.index {
  overflow-x: hidden;
}

body.devise {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .alert, .notice {
    padding: 10px 15px;
    border-radius: 2px;
  }

  &.saturday, &.sunday {
    background-color: $weekend;
  }

  &.monday {
    background-color: $monday;
  }

  &.tuesday {
    background-color: $tuesday;
  }

  &.wednesday {
    background-color: $wednesday;
  }

  &.thursday {
    background-color: $thursday;
  }

  &.friday {
    background-color: $friday;
  }
}

main {
  flex: 1 0 auto;
}

.calendar {
  position: relative;
  width: 100vw;
  height: 200vh;
}

.calendar-inner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.week {
  color: rgba(255, 255, 255, .3);
  position: relative;
  height: 20%;
  width: 100%;
}

.active-text {
  color: rgba(255, 255, 255, .8);
}

.present-day {
  position: relative;
  left: 20%;
  height: 80%;
  width: 80%;
  font-size: 12vw;
}

.weekday {
  width: 20%;
  height: 100%;
  top: 0%;
  float: left;
  position: relative;
  font-size: 3vw;
  cursor: pointer;
}

.weekend {
  position: relative;
  left: 0%;
  height: 80%;
  width: 100%;
  font-size: 12vw;
}

.full-width-vertical-center {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  text-align: center;
  transform: translate(0%, -50%);
}

.managing {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.monday-color {
  background-color: $monday;
}

.tuesday-color {
  background-color: $tuesday;
}

.wednesday-color {
  background-color: $wednesday;
}

.thursday-color {
  background-color: $thursday;
}

.friday-color {
  background-color: $friday;
}

.weekend-color {
  background-color: $weekend;
}

.chore-list {
  position: absolute;
  font-size: 4vh;
  left: 0;
  top: 20%;
  height: 78vh;
  width: 20%;
  z-index: 100;
  margin: 0px;
  margin-top: 2vh;
  li {
    padding-top: 2vh;
  }
}

.special-task {
  color: lighten(yellow, 30%);
  font-size: 4vh;
}
