html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, .7);
}

.calendar, .calendar-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.week {
  position: relative;
  height: 20%;
  width: 100%;
}

.present-day {
  position: relative;
  height: 80%;
  width: 100%;
  font-size: 12vw;
}

.weekday {
  width: 20%;
  height: 100%;
  top: 0%;
  float: left;
  position: relative;
  font-size: 3vw;
}

.full-width-vertical-center {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  text-align: center;
  transform: translate(0%, -50%);
}

.monday-color {
  background-color: #1abc9c;
}

.tuesday-color {
  background-color: #2ecc71;
}

.wednesday-color {
  background-color: #3498db;
}

.thursday-color {
  background-color: #9b59b6;
}

.friday-color {
  background-color: #e67e22;
}

.weekend-color {
  background-color: #34495e;
}